.welcome-message {
    font-size: 2em;
    background-color: hsl(120, 100%, 42%);
    text-align: center;
    padding: 10px;
    border-radius: 50px;
    margin: 70px;
}

.login-prompt {
    font-size: 2em;
    background-color: rgb(205, 29, 29);
    color: white;
    padding: 10px;
    text-align: center;
    border-radius: 50px;
    margin: 70px;
}