.contain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.butt {
    padding: 5px 10px;
    margin: 5px;
}

.butt button {
    padding: 5px 10px;
    margin-right: 10px;
}

.count {
    font-size: 25px;
}

